@import 'variables'; // Importing color and font variables

body {
  background-color: $bg-dark;
  color: $text-light;
  font-family: $font-stack;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: darken ($primary-color, 5%);
  }

html {
  scroll-behavior: smooth;
}

h1, .display-4 {
    font-family: 'Press Start 2P', cursive;
  }
}