.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 2rem;

  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('../assets/hero-pixel-cafe.png'); // desktop background here

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media (max-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../assets/hero-mobile.png"); // mobile background here
    min-height: 80vh;
    background-position: center top;
    padding: 4rem 1rem;
    padding-top: 20rem;
  }
}
